.archiveBoss {
  background-color: #fffefc;
  padding: 2rem;
}
.archiveBoss h2 {
  text-align: center;
  border-bottom: 0.3rem solid #000000;
  text-transform: uppercase;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
   margin-top: 0; /* Remove default margin at the top */
  color: #1b1b1b;
  font-size: 4rem;
  position: relative;
  top: 0; /* Ensure it's positioned at the top */
}
.items {
  margin-top: 0.8rem;
  flex-grow: 1;
  width: 33%;
}
.description {
  padding: 1rem;
  margin-top: 2rem;
  background-color: white;
  margin-bottom: 2rem;
  color: #000000;
}
.svgicon {
  transform: scale(2);
  color: #3e3e3e;
}

.alertContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 60%;

  z-index: 20;
  top: 1rem;
  left: 20%;
}
.alert {
  border: 1px solid rgba(59, 57, 57, 0.37);
  position: "-webkit-sticky";
  position: "sticky";
}

.createUser{
  /* padding: 20px; */
  background-color: #c14e4e;
  color: white;
  border-radius: 5px;
  /* text-align: center; */
  width: 150px;
  height: 50px;
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text is centered */
  margin: 0 auto; /* Optional: Center button in its parent */
  border: none; /* Optional: Remove default border */
  padding: 0; /* Remove padding to avoid misalignment */
}

.createUser:hover{
  background-color: #bdf5bd;  /*lightseagreen*/
}