.archiveBoss {
  background-color: white;
  padding: 2rem;
}
.archiveBoss h2 {
  text-align: center;
  border-bottom: 0.1rem solid #000000;
  text-transform: uppercase;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  color: #1b1b1b;
}
.items {
  margin-top: 0.8rem;
  flex-grow: 1;
  width: 33%;
}
.description {
  padding: 1rem;
  margin-top: 2rem;
  background-color: #f3f3f3;
  margin-bottom: 2rem;
  color: #000000;
}
.svgicon {
  transform: scale(2);
  color: #3e3e3e;
}

.alertContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 60%;

  z-index: 20;
  top: 1rem;
  left: 20%;
}
.alert {
  border: 1px solid rgba(59, 57, 57, 0.37);
  position: "-webkit-sticky";
  position: "sticky";
}

.createUser{
  padding: 20px;
  background-color: lightgreen;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.createUser:hover{
  background-color: lightseagreen;
}