.container {
    padding: 0.5rem;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 
  
  .input {
    margin-bottom: 2rem;
  }
  
  .submitButton {
    width: 50%;
    
  }
  
  .backButton {
    margin-top: 0.5rem;
    text-align: center;
    color: #007bff; 
    cursor: pointer;
    text-decoration: none;
  }
  
  .backButton:hover {
    text-decoration: underline;
  }