* {
  box-sizing: border-box;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.CaroContainer {
  /*
  position: relative;
  top: -0.5rem; */
  display: flex;
  justify-content: center;
}

.fakeCaro {
  
  width: 100%;
  min-height: 25rem;
  background-color: rgb(226, 132, 117);
  display: flex;
  align-items: center;
  justify-content: center;

}


.rightSide {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


@media screen and (min-width: 50rem) {
  .contentContainer {
    grid-template-columns: 10fr 4fr;
  }
}


 