* {
  box-sizing: border-box;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.CaroContainer {
  display: flex;
  justify-content: center;
}

.fakeCaro {
  
  width: 100%;
  min-height: 25rem;
  background-color: rgb(226, 132, 117);
  display: flex;
  align-items: center;
  justify-content: center;

}

.insta {
  display: none;
}


.rightSide {
  display: flex;
  flex-direction: column;
}

.rightSide > * {
  margin-bottom: 1rem;
}


@media screen and (min-width: 50rem) {
  .contentContainer {
    grid-template-columns: 10fr 4fr;
  }

  .insta {
    display: contents;
  }
}


 