.archiveBossAccordion {
    margin-top: 0.5rem;
}
.red {
    background-color: #da7777;
}
.yellow {
    background-color: #f3ee78;
}
.blue {
    background-color: #7793da;
}
.green {
    background-color: #bada77;
}
.purple {
    background-color: #9c77da;
}