.header {
  width: 80%;
  margin: auto;
}

.suggestions {
  background-color: #f0f0f0;
  border: 1px solid #a0a0a0;
  border-radius: 1px;
}

.suggestions:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.suggestionBox {
  background-color: white;
  border-radius: 1px;
  border: 1px solid #a0a0a0;
}
