.profileImage {
  flex: 100%;
  height: 400px;
  width: 400px;
  margin: 2em;
}

.profileContainer {
  display: flex;
  padding-left: 3rem;
  padding-top: 3rem;
}

.nameAndTagContainer {
  margin-left: 4rem;
}

.profileName {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
}

.profileCard {
  margin-top: 50px;
}

.header {
  width: 100%;
  min-height: 100px;
  text-align: center;
}

.headerText {
  font-size: 40px;
  margin: 20px;
  color: #7E7E7E;
}

.editprofileContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 80%;
}

.input {
  margin: 3em;
}

.editImageOverlay {
  height: 400px;
  width: 400px;
}