@import "../../../styles/variables.css";

.container {
  background-color: white;
  padding: 1rem;
}


.cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  width: calc(100%);
  box-shadow: var(--box-shadow-1);
  position: relative;

}


.card::before {
    transition: width ease-in-out 0.1s;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0.2rem;

    background-color: var(--hilfling-color-red);
} 


.card:hover::before {
  width: 0.6rem;
}


.cardImg {
  width: 40%;
  box-shadow: var(--box-shadow-1);
  aspect-ratio: 4 / 3;
}

.cardText {
  width: fit-content;
  gap: 0.2rem;
  padding: 0.5rem 1rem;
}

.cardTextTitle {
  font-size: 2rem;
  border-bottom: 0.2rem solid var(--hilfling-color-red);
}

.cardText > * {
  min-width: fit-content;
}

.cardText b {
  margin-right: 0.2rem;
}

@media only screen and (max-width: 600px) {
  .card {
    border: none;
    flex-direction: column;
  }

  .cardImg {
    width: 100%;
  }

}

