
.navHead {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    position: relative;
    top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hamburger:hover {
    transform: scale(1.1);
}

.navMenuList {
    font-size: larger;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.menuLink {
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px 0px;
    
}

.menuLink:hover {
    scale: 1.01;
}


.navContainer {
    font-size: 1.5rem;
    display: none;
    grid-template-columns: 8fr 2fr;
}

.loggContainer {
    display: flex;
    align-items: center;
    justify-content: right;
}

.loggContainer > * {
    cursor: pointer;
}

.loggContainer > *:hover {
    transform: scale(1.05);
}

.navList {
    width: 60vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navList>* {
    margin-right: 3vw;
}

.navList > *:hover {
    transform: scale(1.05);
}



@media screen and (min-width: 50rem) {
    .navContainer {
        display: grid;
    }
    .hamburger {
        display: none;
    }
}

