@import '../../styles/variables.css';

.redBackground {
  background: var(--box-color-red) !important;
}

.blueBackground {
  background: var(--box-color-blue) !important;
}

.greenBackground {
  background: var(--box-color-green) !important;
}

.textOnBackground *{
  mix-blend-mode: normal !important;
  color: var(--color-white) !important;
  font-weight: 600 !important;
  letter-spacing: 0.8px !important;
}

.round {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
  width: 6em;
  box-shadow: 10em 10em 10em solid grey;
}

h6 {
  border-radius: 0.5em;
  width: fit-content;
  padding-bottom: 0.2em;
  
}

.cardFoto {
  width: fit-content;
  padding: 0.1em 0.4em 
}

a {
  font-size: inherit;
}



.gangBangers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


