@import "../../styles/globals.css";
@import "../../styles/variables.css";

:root {
  --primary-height: 50px;
  --primary-width: 500px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid grey;
  border-radius: 6px;
}

.input {
  width: 85%;
  height: var(--primary-height);
  font-size: 30px;
  margin: 0 15px;
  border: 0px;
}

.inputbox {
  display: flex;
  flex-wrap: nowrap;
  cursor: text;
  width: 100%;
}

.input:focus {
  box-shadow: 0px 0px 0px black;
}

.input:focus + .container {
  border-color: black;
}

.search_symbol {
  /*border-left: 2px solid rgba(128, 128, 128, 0.2); */
  width: 20%;
  height: var(--primary-height);
  font-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.remove {
  display: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: white;
}

.remove * {
  margin: 10px;
}

.remove:hover {
  font-weight: 20px;
}
